<div class="container">
    <div class="row nav">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <a href="/"><button class="btn btn-sm">Home</button></a>
            <button class="btn btn-sm">Saved articles</button>
        </div>

        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="main-title">
                <h1>
                    FastCo/<span style="font-weight:100">Design</span><br> Scraper
                </h1>
            </div>
            <div class="wrapper">
                {{#each articles}}
                    <div class="article-card" data-id={{this._id}}>
                        <p class="title-text">{{this.title}}</p>
                        <a class="link" href={{this.link}}><p>[Read Article]</p></a>
                        <h2>
                            {{#if this.note}}
                                <i class="note fas fa-sticky-note"></i>
                            {{else}}
                                <i class="note far fa-sticky-note"></i>
                            {{/if}}
                            {{#if saved}}
                                <i class="heart fas fa-heart"></i>
                            {{else}}
                                <i class="heart far fa-heart"></i>
                            {{/if}}
                        </h2>
                        <div class="note-div invisible">
                            {{#if this.note}}
                                <form>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Jot down something</label>
                                            <textarea class="form-control" id="exampleTextarea" rows="3" disabled>{{this.note.body}}</textarea>
                                        </div>
                                        <button type="submit" class="btn btn-sm note-edit" data-id={{this._id}}>Edit</button>
                                        <button type="submit" class="btn btn-sm note-delete" data-id={{this._id}}>Delete note</button>
                                    </div>
                                </form>
                            {{else}}
                                <form>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Jot down something</label>
                                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-sm note-submit" data-id={{this._id}}>Submit</button>
                                    </div>
                                </form>
                            {{/if}}
                        </div>
                        
                    </div>
                {{/each}}
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>

</div>
<script src="/js/scraped.js"></script>
